* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f6ed;
}
.main-404 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-404 {
  box-sizing: border-box;
  margin-top: 192px;
  margin-bottom: 201px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 388px;
  height: 396px;
}
.text-404 {
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 145%;
  color: #1f271b;
}

.number-404 {
  position: relative;
  font-family: "a_AvanteInt_Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
}
.number-404::after {
  position: absolute;
  right: -100px;
  content: url(/img/title-right-line.png);
}
.number-404::before {
  position: absolute;
  content: url(/img/title-left-line.png);
  left: -100px;
}
.href-404 {
  color: #f19953;
}
.logo-picture-404 {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .text-404 {
    font-size: 16px;
    font-weight: 300;
  }
  .number-404 {
    font-size: 28px;
    line-height: 34px;
  }
}
@font-face {
  font-family: "a_AvanteInt_Bold";
  src: url(./fonts/a_AvanteInt_Bold.ttf);
}
