.cookie {
  position: sticky;
  bottom: 22px;
  padding: 0 20px;
  margin-bottom: 32px;
  text-align: center;
  z-index: 100;

  @media (max-width: 1024px) {
    margin-bottom: 24px;
  }

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 122px;
  width: fit-content;
  max-width: calc(100vw - 40px);
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.cookie .cookie__content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #F7FBFB;
  border-radius: 8px;
  padding: 12px 24px;
  box-shadow: 0 0 5px 0 #1F271B59;

  @media (min-width: 1024px) {
    padding: 12px 24px;
  }

  @media (min-width: 1600px) {
    padding: 12px 24px;
  }
}

.cookie .cookie__text {
  font-family: "a_AvanteInt", sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 18px;

  /* @media (min-width: 1600px) {
    font-size: 18px;
  } */
}

.cookie .text-link {
  color: #F28123;
  text-decoration: underline;
}

.cookie .cookie__button {
  min-width: 60px;
  font-weight: 700;
  color: white;
  background-color: #F28123;
  border: 2px solid #F28123;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
}

.cookie .cookie__button:hover {
  background-color: #ffffff;
  color: #F28123;
}

.cookie .cookie__button:active {
  opacity:  0.6;
}

.cookie.hidden {
  opacity: 0;
  pointer-events: none;
}
