@font-face {
  font-family: "Avante Bold";
  src: url(/fonts/a_AvanteInt_Bold.ttf);
}

@font-face {
  font-family: "Avante Bold Italic";
  src: url(/fonts/a_AvanteInt_BoldItalic.ttf);
}

@font-face {
  font-family: "Avante Book";
  src: url(/fonts/a_AvanteInt_Book.ttf);
}

@font-face {
  font-family: "Avante Book Italic";
  src: url(/fonts/a_AvanteInt_BookItalic.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f3f7ed;
  font-size: 100%;
  /* line-height: 1.2; */
  font-family: "Avante Bold", sans-serif;
  font-style: normal;
  color: #1f271b;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}


/* Ссылки в тексте */
a {
  text-decoration: none;
  color: #1f271b;
}

a.link {
  color: #F28123;
}

a.link:hover {
  text-decoration: underline;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.bold-paragraph {
  font-family: "Avante Bold";
}

.icon-navigation {
  cursor: pointer;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: var(--largePC-margin) auto var(--bigPC-margin);
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  line-height: 1.3;
}

.popular {
  max-width: var(--pcContent-width);
  margin-right: auto;
  margin-left: auto;
}

.popular-title {
  margin-bottom: 0 !important;
}

.title::before {
  position: absolute;
  left: -84px;
  content: url(/img/title-left-line.png);
  top: -3px;
}

.title::after {
  position: absolute;
  right: -84px;
  content: url(/img/title-right-line.png);
  top: -3px;
}

/* Херо-блок*/
.intro {
  /* Фон */
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/img/utp-desktop-1.png) no-repeat center center / cover;

  /* Размеры */
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  /* Фикс для iOS */

  /* Выравнивание контента */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* Важно! */
  margin: 0;
  /* Сбрасываем стандартные отступы */
  padding: 0;
  /* Убираем внутренние отступы */
  overflow: hidden;
  /* Запрещаем прокрутку */

  /* Для экранов с соотношением сторон отличным от фона */
  @media (orientation: portrait) {
    background-size: auto 100%;
    background-position: top center;
  }
}


.intro .wrap {
  max-width: var(--pcContent-width);
  margin-right: auto;
  margin-left: auto;
}

.intro-content {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



/* Анимация utp-фоток */
/* @keyframes slideBG {
  0% {
    background-image: url(/img/utp-desktop-1.png);
  }

  30% {
    background-image: url(/img/utp-desktop-1.png);
  }

  35% {
    background-image: url(/img/utp-desktop-2.png);
  }

  65% {
    background-image: url(/img/utp-desktop-2.png);
  }

  70% {
    background-image: url(/img/utp-desktop-3.png);
  }

  95% {
    background-image: url(/img/utp-desktop-3.png);
  }

  100% {
    background-image: url(/img/utp-desktop-1.png);
  }
} */

.intro-title {
  font-size: 48px;
  color: #f7fbfb;
  text-transform: uppercase;
}

.intro-img {
  display: block;
  margin: 40px auto;
}

.intro-btn {
  padding: 16px 20px 13px;
  color: white;
  text-transform: uppercase;
  border-radius: 7px;
  background: #f28123;
  font-size: 24px;
  line-height: 1.4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.intro-btn:hover {
  background: #f7fbfb;
  color: #f28123;
}

/* Стили тултипа - начало */
.tooltip-icon {
  cursor: pointer;
  margin-left: 12px;
  /* Отступ иконки от текста */
}

/* Иконка тултипа */
.tooltip-icon img {
  position: absolute;
  width: 28px;
  height: 28px;
}

/* Окно тултипа */
.tooltip {
  display: none;
  position: absolute;
  background-color: #F7FBFB;
  padding: 8px;
  border-radius: 8px;
  /* box-shadow: 0px 0px 5px rgba(31, 39, 27, 0.35); */
  z-index: 1000;
  max-width: 250px;
  min-width: 150px;
  text-align: left;
}

/* Текст в тултипе */
p.tt-p {
  font-family: Avante Book;
  font-size: 16px;
  line-height: 1.45;
  letter-spacing: 1px;
}

/* Стрелочка тултипа */
.tooltip::before {
  content: '';
  position: absolute;
  /* box-shadow: 0px 0px 5px rgba(31, 39, 27, 0.35); */
  top: -20px;
  /* Отступ сверху для стрелочки */
  left: var(--arrow-offset, 50%);
  /* Используем CSS-переменную для позиции */
  transform: translateX(-50%);
  /* Центрируем стрелочку */
  border-width: 12px;
  /* Размер стрелочки */
  border-style: solid;
  border-color: transparent transparent #F7FBFB transparent;
  /* Стрелочка указывает вверх */

}

/* Стили тултипа - конец */


/* Популярные  */

.size-card-elem-h2 {
  width: 201px;
  height: 58px;
  margin-bottom: 12px;
}

.size-card-elem-p {
  width: 179px;
  height: 43px;
}

.trail-spec {
  margin-top: var(--smallTablet-margin);
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trail-spec img {
  margin-bottom: 3px;
}

.popular>.wrap {
  max-width: 1076px;
}

.popular-list {
  margin: 0 20px;
}

.popular-wrap {
  max-width: 1076px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 0.5px solid #1f271b;
  background: transparent;
  border-radius: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.swiper-pagination-bullet-active {
  background: #1f271b;
}

.swiper-controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: var(--bigModile-margin);
  gap: 30px;
}

.swiper-pagination {
  position: relative;
}

.swiper-left-btn {
  background: url(/img/leftarrow.svg) no-repeat;
}

.swiper-right-btn {
  background: url(/img/rightarrow.svg) no-repeat;
}

.swiper-left-btn,
.swiper-right-btn {
  background-size: cover;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.popular-item {
  max-width: 229px;
  background: #f7fbfb;
  -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.12),
    0px 16px 20px rgba(0, 0, 0, 0.1), 0px 18px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.12), 0px 16px 20px rgba(0, 0, 0, 0.1),
    0px 18px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  z-index: 10;
  cursor: pointer;
  width: 229px !important;
  height: 380px;
}

.popular-item-orange {
  background: #f28123;
}

.popular-item-white {
  background: #ffffff;
}

.trail-img {
  -o-object-fit: cover;
  object-fit: cover;
  /* width: auto; */
  -webkit-filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.35));
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.35));
  border-radius: 8px;
  max-width: 229px;
  width: 229px;
  height: 165px;

}


.trail-info {
  padding: 15px 21px;
}

.trail-title-link h2 {
  font-size: 22px;
  line-height: 27px;
  height: 54px;
  overflow: hidden;
  margin-bottom: 10px;
}

.black-color {
  color: #000000;
}

.white-color {
  color: #fff;
}

.trail-location-black>p {
  background: url(/img/location-black.svg) no-repeat;
  background-position: 0% 0%;
  padding-left: 25px;
  font-size: 14px;
  line-height: 19px;
  height: 50px;
  font-family: Avante Book;
  overflow: hidden;
}

.trail-location-white>p {
  background: url(/img/location-white.svg) no-repeat;
  background-position: 0% 0%;
  padding-left: 25px;
  font-size: 16px;
  line-height: 19px;
  height: 50px;
  font-family: Avante Book;
  overflow: hidden;
}

.trail-spec>a {
  text-align: center;
}

/* Партнёры  */

.partner {
  margin: 0 20px;
  max-width: 1000px;
  width: 100%;
}

.swiper-pagination-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 140px;
}

.wrap-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Слайдер партнёров */
/* .swiper-left-part {
  background: url(/img/leftarrow.svg) no-repeat;
}
.swiper-right-part {
  background: url(/img/rightarrow.svg) no-repeat;
}
.swiper-left-part,
.swiper-right-part {
  background-size: cover;
  height: 40px;
  width: 30px;
  cursor: pointer;
} */

/* Скрипт в файле скрипта страницы */

/*  */

.partners {
  max-width: var(--pcContent-width);
  margin-right: auto;
  margin-left: auto;
}

.partner-item {
  overflow: hidden;
  max-width: 220px;
  margin-right: 0 !important;
  background: transparent;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partner-item img {
  -o-object-fit: cover;
  object-fit: cover;
}

.partner-img {
  height: 150px;
  /* Высота для десктопов */
  transition: filter 0.3s ease;
  /* Плавное изменение */
}

.partner-img:hover {
  filter: brightness(1.1);
  /* Увеличиваем яркость на 20% */
}

.partners-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* faq  */

.wrap {
  width: 100%;
  margin: 0 auto;
}

.faq {
  margin-bottom: var(--largePC-margin);
  max-width: var(--pcContent-width);
  margin-right: auto;
  margin-left: auto;
}

.faq-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.faq-item {
  padding: 0 0 24px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 30px 16px;
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}

summary:before {
  left: 0;
  top: 100%;
  background: url(/img/faq-arrow.png) no-repeat;
  width: 100%;
  height: 30%;
  content: "";
  position: absolute;
}

summary:after {
  right: 0;
  top: 15px;
  background: url(/img/faq-toggle.png) no-repeat;
  width: 20px;
  height: 36px;
  content: "";
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 99;
}

details[open]>summary:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

details[open] summary~* {
  -webkit-animation: sweep 1s ease;
  animation: sweep 1s ease;
}

/* Пункты списка с ораньжевыми точками */
.attent1 {
  left: 50px;
  position: relative;
  text-indent: 0;
  padding-bottom: 24px;
}

.attent1::before {
  position: absolute;
  content: url(/img/icon-romb-small.svg);
  left: -50px;
}

.attent1:last-child {
  padding-bottom: 0;
}

.p2 {
  font-size: 24px;
  font-family: "Avante Book";
  line-height: 35px;
  line-height: 145%;
  vertical-align: top;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.faq-item-text {
  font-size: 24px;
  line-height: 1.45;
  padding: 0 0 0 30px;
  margin-top: var(--smallPC-margin);
  font-family: Avante Book;
}

.faq-item-text.month {
  padding: 0;
  margin: var(--smallPC-margin) auto var(--bigPC-margin);
}

@media (max-width: 1266px) {

  h2 {
    margin-bottom: 12px;
  }

  .popular {
    max-width: var(--tabletContent-width);
  }

  .partners {
  max-width: var(--tabletContent-width);
}

  .faq {
    max-width: var(--tabletContent-width);
  }

  .intro .wrap {
    max-width: var(--tabletContent-width);
  }

}

@media (max-width: 1100px) {

  .popular>.wrap {
    max-width: 807px;
  }

  .popular-wrap {
    max-width: 807px;
  }

  h2 {
    margin-bottom: 12px;
  }

}

/*планшет*/

@media (max-width: 1024px) {

  h2 {
    margin-bottom: 12px;
  }

  .swiper-right-btn {
    display: none;
  }

  .swiper-left-btn {
    display: none;
  }

  .title {
    margin-top: var(--largeTablet-margin);
    margin-bottom: var(--bigTablet-margin);
  }

  .faq-item-text.month {
    margin-top: var(--smallTablet-margin);
    margin-bottom: var(--bigTablet-margin);
  }

  /* .popular {
    background-position: right 150px;
  } */

  .intro-title {
    width: 100%;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 64px;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  /* Иконка тултипа */
  .tooltip-icon img {
    position: absolute;
    width: 28px;
    height: 28px;
  }

  .intro-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    width: 233px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .popular-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
  }

  .popular-list {
    left: 0px;
    top: 0.13px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .trail-info {
    padding-top: 10px;
    width: 100%;
  }

  .partner-title {
    width: 231px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  .faq-title {
    width: 54px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  .faq-item-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 145%;
  }

  .faq-title-text {
    font-size: 20px;
  }

  .swiper-controlls {
    gap: 10px;
  }
}

@media (max-width: 1014px) {
  h2 {
    margin-bottom: 12px;
  }

}


@media (max-width: 830px) {
  .popular>.wrap {
    max-width: 537px;
  }

  .popular-wrap {
    max-width: 537px;
  }

}

/* телефон */

@media (max-width: 560px) {

  .intro .wrap {
    max-width: var(--mobileContent);
  }

  .popular {
    max-width: var(--mobileContent);
  }

  .faq-item-text.month {
    margin-bottom: var(--bigModile-margin);
  }

  .trail-location-black>p {
    font-size: 16px;
  }

  .swiper-controlls-part {
    display: none;
  }

  .popular>.wrap {
    max-width: 360px;
    padding: 0 !important;
    margin-bottom: var(--largeModile-margin);
  }

  .popular-wrap {
    max-width: 360px;
  }

  .popular-list {
    max-height: 600px;
    height: 100%;
  }

  .partners {
    max-width: var(--mobileContent);
  }

  .partners-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .partner-item {
    margin-right: 0px !important;
    /* width: 136px !important;
    height: 136px !important; */
  }

  .partner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .swiper-left-part {
    display: none;
  }

  .swiper-right-part {
    display: none;
  }

  .title {
    margin-top: var(--largeModile-margin);
    margin-bottom: var(--bigModile-margin);
  }

  .title::before {
    position: absolute;
    left: -57px;
    content: url(/img/small-title-left-line.svg);
    top: -3px;
  }

  .title::after {
    position: absolute;
    right: -60px;
    content: url(/img/small-title-right-line.svg);
    top: -3px;
  }

  .size-card-elem-h2 {
    width: 2112px;
    height: 58px;
    margin-bottom: var(--smallTablet-margin);
  }

  .size-card-elem-p {
    width: 242px;
    height: 48px;
  }

  .trail-spec {
    margin-top: 40px;
    height: 56px;
  }

  .trail-info {
    padding: 30px 21px 33px;
  }

  .trail-img {
    max-width: 320px;
    width: 320px;
    height: 247px;
  }

  .popular-item {
    max-width: 320px;
    width: 320px !important;
    height: 520px;
    margin-right: 40px !important;
  }

  .intro-title {
    font-size: 32px;
    font-weight: 700;
  }

  /* Стили тултипа */
  .tooltip-icon {
    margin-left: 8px;
    /* Отступ иконки от текста */
  }

  /* Иконка тултипа */
  .tooltip-icon img {
    position: absolute;
    width: 24px;
    height: 24px;
  }

  .popular-title::before {
    top: 28px;
  }

  .popular-title::after {
    top: 28px;
  }

  .popular-title {
    max-width: 198px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    /* margin-bottom: 0; */
  }

  .popular-list {
    left: 0px;
    top: 0.13px;
  }

  .trail-info {
    width: 100%;
  }

  .trail-img {
    width: 100%;

  }

  .title2::before {
    position: absolute;

    left: -42px;
    margin-top: 0px;
  }

  .title2::after {
    position: absolute;
    right: -42px;
    margin-top: 0px;
  }

  .faq {
    margin-bottom: var(--largeModile-margin);
    max-width: var(--mobileContent);
  }

  .faq-item-text {
    font-size: 18px;
  }

  .faq-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
  }

  .faq-title-text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
  }

  .faq-item-title {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
  }

  .faq-item-title::after {
    position: absolute;
    right: 0;
  }

  .faq-item {
    padding: 0;
  }

  .partner-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
  }


}