* {
  margin: 0;
  padding: 0;
}
.opasity-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  max-width: 100%;
  width: 100%;
  height: 90px;
  color: rgba(0, 0, 0, 0);
  background: rgba(243, 246, 237, 0.55);
  border-bottom: none;
  z-index: 999;
}
.main-header {
  position: fixed;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 90px;
  z-index: 2050;
  background-color: #f3f6ed;
  /* background-color: #393b37; */
}
.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1218px;
  margin: 0 auto;
}
.logo-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: fit-content;
  height: 38px;
}
.href-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo-picture {
  width: 40px;
  height: 44px;
}
/* .logo-picture:hover {
  stroke-dasharray: 46;
  stroke-dashoffset: 0;
  animation: anim 4s ease forwards;
}
@keyframes anim {
  0% {
    stroke-dashoffset: 46;
  }
  50% {
    stroke-dashoffset: 0;
  }
} */

.logo-text {
  padding-left: 10px;
  padding-top: 1px;
  color: #1f271b;
  width: min-content;
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: start;
}

.container-navigation-text {
  padding-left: 68px;
  height: 20px;
}
.container-navigation-text:first-child {
  padding-left: 0;
}
.container-navigation-text:nth-child(3) {
  padding-left: 64px;
  text-align: center;
}
.header-text-first {
  color: #1f271b;
  text-decoration: none;
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.header-text-center {
  color: #1f271b;
  text-decoration: none;
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.header-text-last {
  color: #1f271b;
  text-decoration: none;
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.center-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.menu-navigation {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FAQ-animation {
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popular-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cotalog-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.romb1-1 {
  margin: 0;
  width: 20px;
  height: 20px;
  -webkit-animation: romb1-1 1s alternate;
  animation: romb1-1 1s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes romb1-1 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(29px);
    transform: translateX(29px);
  }
}
@keyframes romb1-1 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(29px);
    transform: translateX(29px);
  }
}
.line1 {
  position: absolute;
  margin: 0;
  width: 1px;
  height: 3px;
  background-color: #f28123;
  -webkit-animation: line1 linear 0.57s alternate;
  animation: line1 linear 0.57s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes line1 {
  0% {
    width: 0px;
  }
  100% {
    width: 80px;
  }
}
@keyframes line1 {
  0% {
    width: 0px;
  }
  100% {
    width: 80px;
  }
}
.romb1-2 {
  margin: 0;
  width: 20px;
  height: 20px;
  -webkit-animation: romb1-2 1s alternate;
  animation: romb1-2 1s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes romb1-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-29px);
    transform: translateX(-29px);
  }
}

@keyframes romb1-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-29px);
    transform: translateX(-29px);
  }
}
.romb2-1 {
  margin: 0;
  width: 20px;
  height: 20px;
  -webkit-animation: romb2-1 1s alternate;
  animation: romb2-1 1s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes romb2-1 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(53px);
    transform: translateX(53px);
  }
}
@keyframes romb2-1 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(53px);
    transform: translateX(53px);
  }
}
.line2 {
  position: absolute;
  margin: 0;
  width: 1px;
  height: 3px;
  background-color: #f28123;
  -webkit-animation: line2 linear 0.57s alternate;
  animation: line2 linear 0.57s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes line2 {
  0% {
    width: 0px;
  }
  100% {
    width: 120px;
  }
}
@keyframes line2 {
  0% {
    width: 0px;
  }
  100% {
    width: 120px;
  }
}
.romb2-2 {
  margin: 0;
  width: 20px;
  height: 20px;
  -webkit-animation: romb2-2 1s alternate;
  animation: romb2-2 1s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes romb2-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-53px);
    transform: translateX(-53px);
  }
}

@keyframes romb2-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-53px);
    transform: translateX(-53px);
  }
}
.romb3-1 {
  margin: 0;
  width: 20px;
  height: 20px;
  -webkit-animation: romb3-1 1s alternate;
  animation: romb3-1 1s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes romb3-1 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes romb3-1 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.line3 {
  position: absolute;
  width: 1px;
  height: 3px;
  background-color: #f28123;
  -webkit-animation: line3 linear 0.57s alternate;
  animation: line3 linear 0.57s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes line3 {
  0% {
    width: 0px;
  }
  100% {
    width: 40px;
  }
}
@keyframes line3 {
  0% {
    width: 0px;
  }
  100% {
    width: 40px;
  }
}
.romb3-2 {
  margin: 0;
  width: 20px;
  height: 20px;
  -webkit-animation: romb3-2 1s alternate;
  animation: romb3-2 1s alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes romb3-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes romb3-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
.icon-navigation {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icon-header {
  width: 40px;
  height: 40px;
}

/* Блок с поиском */
#cont-search {
  /* border: #1f271b 2px solid; */
  position: absolute;
  right: 0;
  top: 0;
  /* display: flex; */
  display: none;

}

/* .icon-header:nth-child(2) {
  padding-left: 16px;
  padding-right: 17.15px;
} */
.container-navigation-icon:nth-child(2) {
  padding-top: 1px;
  margin-left: 5px;
}
.container-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Изменение цвета (иконок) по наведению мыши */
/* Карта */
.container-location .icon-header:hover {
  content: url('/img/map-orange.svg'); /* Замените на путь к вашей оранжевой иконке */
}

/* Поиск */
#search:hover {
  content: url('/img/search-orange.svg'); /* Замените на путь к вашей оранжевой иконке */
}

.otstup-icon-search {
  width: 40px;
}

.icon-searcharea-cont {
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;


}
.searcharea {
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  /* line-height: 26px; */
  position: static;
  width: 256px;
  right: 280px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border-bottom: 1px solid rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
  background: transparent;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-top: 14px;
  z-index: 200;
}


.searcharea::-webkit-input-placeholder {
  color: rgb(167, 167, 167);
}
.searcharea::-moz-placeholder {
  color: rgb(167, 167, 167);
}
.searcharea:-ms-input-placeholder {
  color: rgb(167, 167, 167);
}
.searcharea::-ms-input-placeholder {
  color: rgb(167, 167, 167);
}
.searcharea::placeholder {
  color: rgb(167, 167, 167);
}

/* Иконка поиска в поиске */
.search-temp {
  position: static;
  /* top: 27px; */
  /* right: 558px; */
  z-index: 201;
}
.search {
  margin-top: 11px;
}

/* Иконка крестика в поиске */
.search-close {
  position: static;
  /* top: 29px; */
  right: 240px;
  z-index: 201;
  cursor: pointer;
}

/* Выпадающий список поиска */
.elastic {
  position: fixed;
  top: 90px;
  right: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1000;
  text-align: left;
  padding-top: 12px;
}

.elastic a.hide {
  display: none;
}
.searchmark {
  color: #f28123;
  font-weight: 600;
}
.elemsearch {
  background-color: #f3f6ed;
}
.elemsearch:hover {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

/* Пункт выпадающего списка поиска */
.Searchlist {
  width: 392px;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-family: "a_AvanteInt";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f6ed;
  padding-bottom: 5px;
  padding-left: 48px;
}
.elasticBig {
  position: fixed;
  top: 90px;
  right: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1000;
  width: 392px;
  background: #f3f6ed;
  height: 152px;
  overflow: scroll;
  overflow-x: hidden;
  /* box-shadow: 0px 7px 12px rgba(31, 39, 27, 0.12), 0px 16px 18px rgba(31, 39, 27, 0.1), 0px 18px 18px rgba(31, 39, 27, 0.08); */
}

.elasticBig::-webkit-scrollbar {
  width: 3px; /* ширина scrollbar */
}
.elasticBig::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
.elasticBig::-webkit-scrollbar-thumb {
  background-color: #f28123; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: none; /* padding вокруг плашки */
}
.VoidSearch {
  max-width: 392px;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-family: "a_AvanteInt";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  text-align: center;
  margin-top: 45px;
}
/* .line-location {
  position: absolute;
  top: 66px;
  width: 22px;
  height: 1px;
  background-color: #1f271b;
} */

#search-cont {
  position: relative;
 }

.container-navigation-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.container-navigation-icon:last-child {
  display: none;
}

/* Сброс стиля на ссылке иконки карты в хедере */
a.header-icon.keychainify-checked {  
  line-height: 0;
}

@media (max-width: 1530px) {
  .VoidSearch {
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;
  }
  .elastic {
    right: 72px;
  }
  .Searchlist {
    width: 260px;
    padding-left: 23px;
  }
  .elasticBig {
    position: fixed;
    right: 72px;
    height: 152px;
    width: 260px;
  }
  .container-navigation-text {
    padding-left: 52px;
  }
  .container-navigation-text:first-child {
    padding-left: 0;
  }
  .container-navigation-text:last-child {
    padding-left: 48px;
  }

  .searcharea {
    width: 210px;
    right: 110px;
  }
  .search-temp {
    right: 285px;
  }
  .search-close {
    right: 70px;
  }
 
  .logo-header {
    margin: 0;    
  }
  .icon-navigation {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .controllers {
    padding: 0;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .VoidSearch {
    margin: 0;
    max-width: 392px;
  }
  .elasticBig {
    right: 0px;
    height: 346px;
    max-width: 100vw;
    width: 100vw;
  }
  .elastic {
    right: 0px;
  }
  .Searchlist {
    width: 100vw;
    padding-left: 48px;
  }
  .search {
    margin-top: 0px;
  }
  .searcharea {
    width: 300px;
    left: 43px;
  }
  .search-temp {
    left: 40px;
  }
  .search-close {
    left: 345px;
  }
  .logo-picture:hover {
    -webkit-animation: none;
    animation: none;
  }
  /* .line-location {
    display: none;
  } */
  .container-navigation-icon:nth-child(2) {
    padding: 0;
  }
  .logo-header {
    margin-left: 21px;
  }
  .center-navigation {
    display: none;
  }
  .container-navigation-icon:last-child {
    display: block;
  }
  .container-navigation-icon:nth-child(2) {
    border: none;
    margin: 0;
  }
  .icon-navigation {
    margin: 0;
    margin-right: 19.64px;
  }
}

@media (max-width: 400px) {
  .searcharea {
    width: 270px;
  }
  .search-close {
    left: 315px;
  }
}
@media (max-width: 360px) {
  .searcharea {
    left: 23px;
  }
  .search-temp {
    left: 20px;
  }
  .search-close {
    left: 295px;
  }
}

@font-face {
  font-family: "a_AvanteInt";
  src: url(./fonts/a_AvanteInt_Book.ttf);
}
