@font-face {
  font-family: "Avante Bold";
  src: url(./fonts/a_AvanteInt_Bold.ttf);
}

@font-face {
  font-family: "Avante Bold Italic";
  src: url(./fonts/a_AvanteInt_BoldItalic.ttf);
}

@font-face {
  font-family: "Avante Book";
  src: url(./fonts/a_AvanteInt_Book.ttf);
}

@font-face {
  font-family: "Avante Book Italic";
  src: url(./fonts/a_AvanteInt_BookItalic.ttf);
}

* {
  font-family: "Avante Bold", sans-serif;
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

a {
  text-decoration: none;
}

/* Фильтр */
.controllers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
  top: 105px;
  margin: 0 auto;
  max-width: var(--pcContent-width);
  z-index: 200;
}

/* Фильтр регионов */
.filters {
  font-family: "Avante Book";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  width: 270px;
  height: auto;
  border-radius: 4px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  /* убираем стандартную стрелку браузера */
  appearance: none;
  /* для Safari */
  -webkit-appearance: none;
  /* для Firefox */
  -moz-appearance: none;
  /* изображение стрелки*/
  background-image: url("/img/faq-toggle.png");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(31, 39, 27, 0.15)) drop-shadow(0px 0px 5px rgba(31, 39, 27, 0.35));
  filter: drop-shadow(2px 2px 4px rgba(31, 39, 27, 0.15)) drop-shadow(0px 0px 5px rgba(31, 39, 27, 0.35));
  /* Запрещаем перенос текста на новую строку */
  white-space: nowrap;
  /* Обрезаем все, что выходит за границы */
  overflow: hidden;
  /* Добавляем многоточие, если текст не помещается */
  text-overflow: ellipsis;
}

/* Стили для select в раскрытом состоянии */
.filters:focus {
  /* убираем стандартное выделение */
  outline: none;
}

.filters option {
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Avante Book";
  font-style: normal;
  font-size: 18px;
}

.switch-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 239px;
  height: 44px;
  border-radius: 4px;
  background: #f28123;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(31, 39, 27, 0.15)) drop-shadow(0px 0px 5px rgba(31, 39, 27, 0.35));
  filter: drop-shadow(2px 2px 4px rgba(31, 39, 27, 0.15)) drop-shadow(0px 0px 5px rgba(31, 39, 27, 0.35));
}

.switch-btn svg {
  margin: 4px;
}

.switch-map-icon {
  width: 120px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  cursor: default;
}

.switch-list-icon {
  border-radius: 4px 0 0 4px;
  width: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5.5px 4px;
  color: #000000;
}

.switch-list .switch-list-icon {
  background-color: #ffffff;
}

.switch-map .switch-map-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15),
    0px 0px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 0px 0px 5px rgba(0, 0, 0, 0.35);
}

.switch-btn-text {
  font-family: "Avante Book";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  margin: 5px 2px 2px 2px;
}

.switch-btn-text2 {
  font-family: "Avante Book";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  margin: 8px 2px 2px 2px;
}

.container {
  margin: 0 auto;
  /* max-width: 1600px; */
  width: 100%;
}

#map {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background: #373e34;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: none; */
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

/* JS CSS */

/* .balloon_content {
  width: 252px;
  height: 252px;
} */

/* Отступсверху при открытии балунов (ниже хедера и фильтра) */
.ymaps-2-1-79-balloon-pane {
  top: 130px !important;
}

.ymaps-2-1-79-balloon__layout {
  background: none !important;
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}

.ymaps-2-1-79-balloon__content {
  background: transparent !important;
  padding: 0 !important;
}

.ymaps-2-1-79-balloon__content>ymaps {
  max-width: 282px !important;
  height: 468px !important;
  border-radius: 8px !important;
}

.ymaps-2-1-79-balloon__tail:after {
  display: none !important;
}

.ymaps-2-1-79-balloon__tail {
  display: none !important;
}

/* Крестик закрытия карточки на карте */
.ymaps-2-1-79-balloon__close-button {
  position: relative;
  width: 25px !important;
  height: 25px !important;
  background-image: url(/img/close_card.svg) !important;
  opacity: 1 !important;
  right: 12px;
  top: 12px;
}

.ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content {
  margin-right: 0 !important;
}

/* Сoкращение кнопки слоёв до мини-кнопки без текста */
.ymaps-2-1-79-listbox__button-text, .ymaps-2-1-79-listbox__button-arrow {
  display: none !important;
}

/* Нижние кнопки - выше футера */
.ymaps-2-1-79-copyrights-pane {
  bottom: 90px !important;
}

/* Кнопки управления просмотром */
.ymaps-2-1-79-controls-pane {
  top: 5% !important;  
}


/* Стили карточки */
.catalog-item {
  max-width: 282px;
  height: 468px;
  background: #f7fbfb;
  -webkit-box-shadow: 0px 7px 12px rgba(31, 39, 27, 0.12),
    0px 16px 18px rgba(31, 39, 27, 0.1), 0px 18px 18px rgba(31, 39, 27, 0.08);
  box-shadow: 0px 7px 12px rgba(31, 39, 27, 0.12),
    0px 16px 18px rgba(31, 39, 27, 0.1), 0px 18px 18px rgba(31, 39, 27, 0.08);
  border-radius: 8px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.trail-img {
  -webkit-filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.35));
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.35));
  border-radius: 8px;
  width: 282px;
  height: 218px;
}

.trail-spec {
  margin-top: 24px;
  width: 100%;
  height: 56px;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trail-spec>a {
  text-align: center;
}

.trail-info {
  padding: 15px 21px;
}

.tabcontent {
  display: none;
}

.trail-title-link h2 {
  font-family: "Avante Bold";
  font-size: 24px;
  line-height: 26px;
  height: 54px;
  overflow: hidden;
  margin-bottom: 10px;
  text-decoration: none;
}

.trail-location-black>p {
  background: url(/img/location-black.svg) no-repeat;
  background-position: 0% 0%;
  padding-left: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: "a_AvanteInt";
  /* overflow: hidden; */
}

.trail-location-white>p {
  background: url(/img/location-white.svg) no-repeat;
  background-position: 0% 0%;
  padding-left: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: "a_AvanteInt";
  overflow: hidden;
}

.size-card-elem-h2 {
  width: 240px;
  height: 58px;
}

.size-card-elem-p {
  /* width: 215px; */
  height: 43px;
}

.black-color {
  font-family: "Avante Bold";
  color: #000000;
  font-size: 16px;
}

.white-color {
  font-family: "a_AvanteInt";
  color: white;
}

.catalog-item-orange {
  background: #f28123;
}

.catalog-item-white {
  background: #ffffff;
}

.tabcontent.active {
  display: block;
}

@media (max-width: 1250px) {

  .controllers {
    max-width: var(--tabletContent-width);
  }

  .ymaps-2-1-79-balloon__content>ymaps {
    max-width: 229px !important;
    height: 380px !important;
    border-radius: 8px !important;
  }

  .catalog-item {
    max-width: 229px;
    height: 380px;
  }

  .size-card-elem-h2 {
    width: 201px;
    height: 58px;
  }

  .size-card-elem-p {
    /* width: 179px; */
    height: 43px;
  }

  .trail-spec {
    position: relative;
    top: 16px;
    bottom: 3px;
    right: 0px;
    margin: 0;
    width: 200px;
    height: 49px;
    margin-top: 10px;
  }

  .trail-img {
    width: 229px;
    height: 165px;
  }

  .trail-info {
    padding: 14px;
  }
}

/* Мини-планшет */
@media (max-width: 1024px) {
  .controllers {
    max-width: var(--tabletMiniContent);
  }
}

/* Микро-планшет */
@media (max-width: 775px) {
  .controllers {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--tabletMicroContent);
  }

  .filters {
    /* Уменьшение ширины при надобности */
    width: auto;
    flex-shrink: 1;
    min-width: 230px;
    max-width: 235px;
  }
}


@media (max-height: 850px) {
  #map {
    height: 90%;
  }
}

@media (max-height: 780px) {
  #map {
    height: 89%;
  }
}

@media (max-height: 730px) {
  #map {
    height: 88%;
  }
}

@media (max-height: 670px) {
  #map {
    height: 87%;
  }
}

@media (max-height: 615px) {
  #map {
    height: 86%;
  }
}

@media (max-height: 570px) {
  #map {
    height: 85%;
  }
}

@media (max-width: 525px) {

  .controllers {
    max-width: var(--mobileContent);
  }

  /* Мини-кнопки переключения "Список - карта" */
  .switch-btn-text,
  .switch-btn-text2 {
    display: none;
  }

  .switch-list-icon,
  .switch-map-icon,
  .switch-btn {
    width: auto;
  }
}