@font-face {
  font-family: "Avante Bold";
  src: url(./fonts/a_AvanteInt_Bold.ttf);
}

@font-face {
  font-family: "Avante Bold Italic";
  src: url(./fonts/a_AvanteInt_BoldItalic.ttf);
}

@font-face {
  font-family: "Avante Book";
  src: url(./fonts/a_AvanteInt_Book.ttf);
}

@font-face {
  font-family: "Avante Book Italic";
  src: url(./fonts/a_AvanteInt_BookItalic.ttf);
}
* {
  font-family: "Avante Bold", sans-serif;
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
.controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.switch-btn {
  position: relative;
  top: 114px;
  left: 191px;
  z-index: 999;
}
.filters {
  position: relative;
  z-index: 999;
  top: 114px;
  right: 191px;
  width: auto;
  height: auto;
  border-radius: 4px;
  background: #f7fbfb;
  margin: 0;
  border: none;
  cursor: pointer;
  padding: 7px;
  -webkit-filter: drop-shadow(-4px 6px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(-4px 6px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}
.switch-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 239px;
  height: 44px;
  border-radius: 4px;
  background: #f28123;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(31, 39, 27, 0.15))
    drop-shadow(0px 0px 5px rgba(31, 39, 27, 0.35));
  filter: drop-shadow(2px 2px 4px rgba(31, 39, 27, 0.15))
    drop-shadow(0px 0px 5px rgba(31, 39, 27, 0.35));
}
.switch-btn svg {
  margin: 4px;
}
.switch-map-icon {
  width: 120px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  cursor: default;
}
.switch-list-icon {
    border-radius: 4px 0 0 4px;
  width: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5.5px 4px;
  color: #000000;
}
.switch-list .switch-list-icon {
  background-color: #ffffff;
}
.switch-map .switch-map-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15),
    0px 0px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15), 0px 0px 5px rgba(0, 0, 0, 0.35);
}
.switch-btn-text {
  font-family: "Avante Book";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  margin: 5px 2px 2px 2px;
}
.switch-btn-text2 {
  font-family: "Avante Book";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  margin: 8px 2px 2px 2px;
}
.container {
  margin: 0 auto;
  max-width: 1600px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  padding-top: 23px;
  padding-bottom: 23px;
}
.header_list {
  list-style-type: none;
}
.header_link {
  text-decoration: none;
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #1f271b;
}
.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header_item {
  margin-right: 68px;
  padding-bottom: 34.5px;
}
.header_item:last-child {
  margin-right: 0px;
}
.header__mapsearch {
  padding-bottom: 25px;
}
.search {
  margin-right: 22px;
}
#map {
  height: 91%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  background: #373e34;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__logo {
  padding-top: 23px;
  padding-bottom: 23px;
}
.copyright_title {
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f7fbfb;
  padding-top: 24.5px;
}
.policy_link {
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  -webkit-text-decoration-line: underline;

  text-decoration-line: underline;
  color: #f7fbfb;
  padding-bottom: 24.5px;
  padding-top: 10px;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
.contact_btn {
  font-family: "a_AvanteInt";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  padding: 14px;
  background: white url(./img/Icons\ h-f.svg) no-repeat;
  background-position: 17px;
  padding-left: 58px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* JS CSS */

/* .balloon_content {
  width: 252px;
  height: 252px;
} */

.ymaps-2-1-79-balloon__layout {
  background: none !important;
}
.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}
.ymaps-2-1-79-balloon__content {
  background: transparent !important;
  padding: 0 !important;
}
.ymaps-2-1-79-balloon__content > ymaps {
  max-width: 282px !important;
  height: 468px !important;
  border-radius: 8px !important;
}
.ymaps-2-1-79-balloon__tail:after {
  display: none !important;
}
.ymaps-2-1-79-balloon__tail {
  display: none !important;
}
.ymaps-2-1-79-balloon__close-button {
  position: relative;
  width: 25px !important;
  height: 25px !important;
  background-image: url(/img/close_card.svg) !important;
  opacity: 1 !important;
  right: 12px;
  top: 12px;
}
.ymaps-2-1-79-balloon__close + .ymaps-2-1-79-balloon__content {
  margin-right: 0 !important;
}
.catalog-item {
  max-width: 282px;
  height: 468px;
  background: #f7fbfb;
  -webkit-box-shadow: 0px 7px 12px rgba(31, 39, 27, 0.12),
    0px 16px 18px rgba(31, 39, 27, 0.1), 0px 18px 18px rgba(31, 39, 27, 0.08);
  box-shadow: 0px 7px 12px rgba(31, 39, 27, 0.12),
    0px 16px 18px rgba(31, 39, 27, 0.1), 0px 18px 18px rgba(31, 39, 27, 0.08);
  border-radius: 8px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.trail-img {
  -webkit-filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.35));
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.35));
  border-radius: 8px;
  width: 282px;
  height: 218px;
}
.trail-spec {
  margin-top: 24px;
  width: 100%;
  height: 56px;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.trail-spec > a {
  text-align: center;
}
.trail-info {
  padding: 15px 21px;
}

.tabcontent {
  display: none;
}
.trail-title-link h2 {
  font-family: "Avante Bold";
  font-size: 24px;
  line-height: 26px;
  height: 54px;
  overflow: hidden;
  margin-bottom: 10px;
  text-decoration: none;
}
.trail-location-black > p {
  background: url(/img/location-black.svg) no-repeat;
  background-position: 0% 0%;
  padding-left: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: "a_AvanteInt";
  overflow: hidden;
}
.trail-location-white > p {
  background: url(/img/location-white.svg) no-repeat;
  background-position: 0% 0%;
  padding-left: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: "a_AvanteInt";
  overflow: hidden;
}
.size-card-elem-h2 {
  width: 240px;
  height: 58px;
}
.size-card-elem-p {
  width: 215px;
  height: 43px;
}
.black-color {
  font-family: "Avante Bold";
  color: #000000;
  font-size: 16px;
}
.white-color {
  font-family: "a_AvanteInt";
  color: white;
}
.catalog-item-orange {
  background: #f28123;
}
.catalog-item-white {
  background: #ffffff;
}
.tabcontent.active {
  display: block;
}
@media (max-width: 1350px) {
  .ymaps-2-1-79-balloon__content > ymaps {
    max-width: 229px !important;
    height: 380px !important;
    border-radius: 8px !important;
  }
  .catalog-item {
    max-width: 229px;
    height: 380px;
  }
  .size-card-elem-h2 {
    width: 201px;
    height: 58px;
  }
  .size-card-elem-p {
    width: 179px;
    height: 43px;
  }
  .trail-spec {
    position: relative;
    top: 16px;
    bottom: 3px;
    right: 0px;
    margin: 0;
    width: 200px;
    height: 49px;
  }
  .trail-img {
    width: 229px;
    height: 165px;
  }
  .trail-info{
    padding: 14px;
  }
}
@media (max-width: 1530px) {
  .filters {
    top: 100px;
    right: 15px;
  }
  .switch-btn {
    top: 100px;
    left: 15px;
  }
}
@media (max-height: 850px) {
  #map {
    height: 90%;
  }
}
@media (max-height: 780px) {
  #map {
    height: 89%;
  }
}
@media (max-height: 730px) {
  #map {
    height: 88%;
  }
}
@media (max-height: 670px) {
  #map {
    height: 87%;
  }
}
@media (max-height: 615px) {
  #map {
    height: 86%;
  }
}
@media (max-height: 570px) {
  #map {
    height: 85%;
  }
}

@media (max-width: 480px) {
  
  /* Мини-кнопки переключения "Список - карта" */
  .switch-btn-text {
    display: none;
  }

  .switch-btn-text2 {
    display: none;
  }

  .switch-list-icon {
    width: auto;
  }

  .switch-map-icon {
    width: auto;
  }

  .switch-btn {
    width: auto;
  }
}