# 301 редирект со старого домена на новый
# RewriteEngine On
# RewriteCond %{HTTP_HOST} ^(www\.)?eco-trails\.ru$ [NC]
# RewriteRule ^(.*)$ https://xn--80aagfgg4cjdgbjdfb1a1a.xn--p1ai/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?xn--h1aaeqaaggclaf4jva\.xn--p1ai$ [NC]
RewriteRule ^(.*)$ https://eco-trails.ru/$1 [R=301,L]

ErrorDocument 404 https://eco-trails.ru/404

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Запрет индексации страниц с GET-параметрами region на странице /catalog/mappage.html
    RewriteCond %{REQUEST_URI} ^/catalog/mappage.html$ [NC]
    RewriteCond %{QUERY_STRING} (^|&)region=(lenoblast|krasnodarsky-krai|nizhegorodskaya-oblast|yaroslavskaya-oblast|moskva|krym|stavropolsky-krai|kabardino-balkariya)(&|$) [NC]
    RewriteRule ^ - [E=MAP_NOINDEX:1]

     # Перенаправление со ссылок без косой черты в конце
    RewriteCond %{REQUEST_URI} ^/catalog/(lenoblast|krasnodarsky-krai|nizhegorodskaya-oblast|yaroslavskaya-oblast|moskva|krym|stavropolsky-krai|kabardino-balkariya)$ [NC]
    RewriteRule ^catalog/(.*)$ /catalog/?region=$1 [L,R=301]

    # Перенаправление со ссылок с косой чертой в конце
    RewriteCond %{REQUEST_URI} ^/catalog/(lenoblast|krasnodarsky-krai|nizhegorodskaya-oblast|yaroslavskaya-oblast|moskva|krym|stavropolsky-krai|kabardino-balkariya)/$ [NC]
    RewriteRule ^catalog/(.*)/$ /catalog/?region=$1 [L,R=301]
</IfModule>

# Если переменная MAP_NOINDEX установлена, запретить индексацию
Header set X-Robots-Tag "noindex, nofollow" env=MAP_NOINDEX

